@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #baaca3;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    /*background: #baaca3 url("../../public/images/topography.svg");*/
    /*background-size: auto;*/
    font-family: Arial, Helvetica, sans-serif;
    color: var(--foreground);

    background: var(--background) url("../../public/images/topography.svg");
    background-size: auto;
}